---
layout: default
---
<div class="home-img">
    <img src="/images/blog-home.jpg" alt="">
    <div class="home-blog-desc">
		<p>A collection of field notes, musings, opinions, behind-the-scenes, and stories from the road from the Platte Basin Timelapse team.</p>
	</div>

</div>
<!-- <div class="row">
	<div class="col-xs-12 home-blog-desc">
		<p>A collection of field notes, musings, opinions, behind-the-scenes, and stories from the road from the Platte Basin Timelapse team.</p>
	</div>
</div> -->

<div class="home page" id="home feed-post">
	
    {% for post in site.posts limit: 10 %}
        {% if post.draft != true %}

            <div class="row feed-post-item">
            	{% if post.image %}
            	<div class="col-sm-4">
            		<a href="{{ site.url }}{{ post.url }}"><img class="post-img" src="{{site.url}}/images/pbt-blog-uploads/{{ post.image }}" ></a>
            	</div>
            	{% else %}
            	<div class="col-sm-4">
            	</div>
            	{% endif %}
            	<div class="col-sm-8">
	                <p class="post-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></p>
	                <p class="post-meta">by <a href="{{ site.url }}/authors/{{ post.author|split: ' '|last|downcase }}">{{ post.author }}</a> on {{ post.date | date: "%-d %B %Y" }}</p>
	                <p class="post-description">{{ post.description}}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>